<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flashcards!</title>
    <meta name="description" content="Flashcards set in Sans Forgetica">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div class="flashcard hide"><p class="flashcard-text"></p></div>
    <header>
      <h1>
        Workout your memory! 💪
      </h1>
    </header>

    <main>
      <p>Fill in the content for your flashcards:</p>
      
      <form>
        <input name="card" type="text" maxlength="100" placeholder="Add card content here! ✍️" aria-labelledby="submit-card">
        <button type="submit" id="submit-card">Add Flashcard</button>
      </form>
      
      <section class="cards">
        <ul id="cards"></ul>
      </section>
      
      <button type="submit" id="start-cards">Start Memorizing!</button>
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
